@model IEnumerable<Book_A_Seat.Models.Flight>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FlightNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartingFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FlightNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartingFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FlightID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FlightID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FlightID })
        </td>
    </tr>
}

</table>
